* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    background-image: url(./Assets/bg-image.jpg);
    height: 98vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

header .box {
    height: 98vh;
    width: 100%;
    background-color: black;
    opacity: .7;
    position: absolute;
    z-index: 1;
    top: 0;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 80vw;
    margin: 0px 100px 0px 100px;
    height: 20px;
    top: 20px;
    z-index: 10;
}

nav img {
    z-index: 10;
    width: 200px;
    height: 35px;
}

.language-select {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(25, 25, 25, .5);
    border-radius: 4px;
    border: .5px solid gray;
    top: 10px;
    padding: 0px 19px 0px 14px;
}

.language-select img {
    width: 20px;
    height: 30px;
}

.language-select select option {
    background-color: white;
    color: black;
}

select {
    background-color: rgba(25, 25, 25, .5);
    color: white;
    border: none;
    font-size: 1.2rem;
}

.btn-sign {
    background-color: red;
    color: white;
    border: 1px;
    border-radius: 4px;
    padding: 3px 15px 6px;
    font-size: medium;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    position: relative;
    height: 100%;
    margin: auto;
    gap: 10px;
}

.content>:nth-child(1) {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: 0px 0px 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content>:nth-child(2) {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700px;
    text-align: center;
    margin: 0px 0px 20px;
}

.content>:nth-child(3) {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0px 0px 5px;
}

.search {
    display: flex;
    gap: 8px;
}

.btn-start {
    background-color: red;
    color: white;
    padding: 8px 25px 12px;
    border-radius: 5px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    border: 2px;
}

.content input {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 130px 10px 10px;
    background-color: rgba(25, 25, 25, .5);
    text-align: left;
    border-radius: 5px;
    border: 1px solid gray;
}

.curved-section {
    position: relative;
    height: 50px;
    background: radial-gradient(ellipse at top, #0a0f2c 0%, #000 70%);
    overflow: hidden;
}

.curved-section::before {
    position: absolute;
    background: radial-gradient(ellipse at top, rgba(255, 0, 76, 1) 0%, rgba(255, 0, 76, 0.8) 40%, rgba(255, 0, 76, 0.1)100%);
    height: 5px;
    content: "";
    top: 10px;
    left: 0;
    right: 0;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.container {
    height: 350px;
    max-width: 80vw;
    margin-top: 30px;
    margin-left: 10vw;
    margin-right: 15vw;
}

.section-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
    color: white;
}

.slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    flex: 0 0 auto;
    width: 200px;
    height: 280px;
    scroll-snap-align: start;
    border-radius: 8px;
    overflow: visible;
    padding: 15px 10px;
    transition: all 0.3s ease, box-shadow ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0px 10px 20px rgba(225, 225, 225, .2);
}

.number {
    position: absolute;
    bottom: 15px;
    left: -15px;
    font-size: 80px;
    color: black;
    font-weight: 700;
    -webkit-text-stroke: 2px white;
}

.container2 {
    height: auto;
    width: 80vw;
    margin-top: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    overflow: hidden;
}

.section {
    display: flex;
    gap: 15px;
    height: 350px;
    width: 77vw;
}

.card2 {
    height: 280px;
    width: 30vw;
    flex: 10px 10px 10px 10px;
    background: linear-gradient(180deg, #1e1e3f 50%, #220222 100%);
    border-radius: 15px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card2 h3 {
    font-size: 1.3rem;
}

.card2 p {
    color: rgba(255, 255, 255, .7);

}

.smallimg {
    height: 70px;
    width: 70px;
    position: relative;
    top: 10px;
    left: 12vw;
}

.container3 {
    height: 630px;
    width: 77vw;
    margin-top: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.questionbox img {
    height: 35px;
    width: 35px;
}

.questionbox {
    background-color: #2d2d2d;
    margin: 10px auto;
}

.faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    font-size: 1.5rem;
    font-weight: 400;

}

.questionbox:hover {
    background-color: #3d3d3d;
}

.content2 {
    width: 80vw;
    margin: 0px 10vw;
}

.content2 p {
    text-align: center;
    margin: 0px 0px 18px;
}

.content2 .search {
    display: flex;
    gap: 8px;
    justify-content: center;
}

#search input {
    padding: 10px 30vw 10px 15px;
    font-size: 1rem;
    text-align: left;
    background-color: rgba(25, 25, 25, .5);
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
}

.btn-start:hover {
    background-color: rgb(208, 2, 2);
}

footer {
    margin: 60px 10vw;
    margin-bottom: 40px;
    width: 75vw;
    font-size: 1.1rem;
    color: #a1a0a0;
}

.call {
    margin-bottom: 40px;
}

.call a {
    color: #a1a0a0;
}

.foot-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 40px;
}

.foot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foot a {
    color: #a1a0a0;
    font-size: 1rem;
}

footer p {
    font-size: 13px;
    margin: 30px 0px;
}

footer p a {
    color: rgb(68, 142, 244);
}

@media screen and (max-width:1340px) {
    header {
        height: 80vh;
    }

    header .box {
        height: 80vh;
    }

    nav {
        margin: 0px 10vw 0px 10vw;
        height: 15px;
    }

    nav img {
        z-index: 10;
        width: 130px;
        height: 25px;
    }

    .signlang {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .btn-sign {
        margin: 0px 20px;
    }

    .search {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        max-width: 60vw;
    }

    .content>:nth-child(1) {
        font-size: 30px;
        font-weight: 700;

    }

    .search .btn-start {
        margin: 28vw;
        margin-top: 4px;
    }

    .section {
        flex-direction: column;
    }

    .container2 {
        height: 600px;
    }

    .card2 {
        font-size: .8rem;
        width: 80vw;
        height: 70;
    }

    .card2 img {
        height: 30px;
        width: 30px;
        position: relative;
        left: 65vw;
    }

    .card2 h3 {
        font-size: 1rem;
    }

    .faq,
    .section-title {
        font-size: 1.1rem;
    }

    .search .btn-start {
        margin: 16vw;
        margin-top: 4px;
        margin-bottom: 30px;
        font-size: medium;
    }

    .search .btn-start2 {
        margin: 14vw;
        margin-top: 4px;
    }

    .foot-grid {
        display: grid;
        grid-template-columns: 1fr;
    }

    .foot a {
        font-size: 1rem;
    }
}

.nish {
    position: relative;
    color: white;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid #2d2d2d;
    padding: 5px;
    background: linear-gradient(180deg, red 50%, rgb(1, 4, 19) 100%);
    font-size: 1rem;
}

.nish1 {
    display: flex;
    flex-direction: row-reverse;
}